
*.swp

*.swp

.DS_Store

*.swp
*.py.swp

.bibtex_import.py.swp

.reference_parse.py.swp

.taxonomy_init.py.swp

viscommunityweb/.settings.py.swp

*.pyc

viscommunityweb/settings.pyc

reference_parse.pyc

web/.DS_Store

web/.models.py.swp

web/.views.py.swp

web/models.pyc

web/static/.DS_Store

web/static/bootstrap/.DS_Store

*.swp

*.swp

*.swp

web/templates/.base.html.swp

web/templates/.index.html.swp

web/templates/.references.html.swp

web/templates/.taxonomy_detail.html.swp

.idea/