{% extends "base.html" %}


{% load i18n %}

{% block head_additional %}
    <style>
        .content {
            padding-right: 0px;
            padding-left: 0px;
            *zoom: 1;
            background-color: #fff;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="profile-top">
        <div id="userprofile">
            <img src="http://www.gravatar.com/avatar/{{ gravatar }}"/>
        </div>

        <div id="username">
            {{ user.username }}
        </div>

        <div class="pull-right" id="options">

            <a class="btn" href='{{ URL_PREPENDER }}/accounts/profile'>Your Profile</a>
            <a class="btn" href='{{ URL_PREPENDER }}/accounts/password/reset/'>Reset Password
            </a>

            {% if profile.user.is_authenticated and profile.user.is_superuser %}
                <a class="btn" href='{{ URL_PREPENDER }}/admin/'>Administration pages</a>
            {% endif %}

        </div>
    </div>

    <div style="margin: 40px">

        <h4>Expand your profile</h4>

        {% if form.errors %}
            <p class="errorlist">{% trans "Sorry there are corrections needed in your form below:" %} {{ form.non_field_errors }}</p>
        {% endif %}
        {% if form.is_multipart %}
            <form enctype="multipart/form-data" method="post" action=".">
        {% else %}
            <form method="post" action=".">
        {% endif %}
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" class="btn btn-info" value="Save"/>
        </form>
    </div>

{% endblock %}