{% extends "base.html" %}


{% block head_additional %}
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/overridden.css">
{% endblock %}

{% load i18n %}

{% block content %}
    <br/>
    <div class="well">
        <h3>Hello {{ user.username }}</h3>

        <p>Edit your profile here...</p>

        {% if form.errors %}
            <p class="errorlist">{% trans "Sorry there are corrections needed in your form below:" %} {{ form.non_field_errors }}</p>
        {% endif %}
        {% if form.is_multipart %}
            <form enctype="multipart/form-data" method="post" action=".">
        {% else %}
            <form method="post" action=".">
        {% endif %}
        {{ form.as_p }}
        {% if form.instance.email %}
            Exising email: {{ profile.email }}<br><br>
        {% endif %}
        {% csrf_token %}
        <input type="submit" class="btn btn-warning" value="Save"/>
        </form>
    </div>
    <div class="clearfix"></div><br/>
{% endblock %}

