<!DOCTYPE html>
<html lang="en">
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css" />
	{% block head_additional %} {% endblock %}
    <title>{% block title %}Community-driven Visualization Resource Website{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/web/">Home</a></li>
            <li><a href="/web/taxonomy">Taxonomy</a></li>
            <li><a href="/web/references">References</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
