<!DOCTYPE html>

<html lang="en">
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
    {% block head_additional %} {% endblock %}
    <title>{% block title %}Community-driven Visualization Resource Website{% endblock %}</title>
    <style>
        a {
            color: #EBB77B;
        }
    </style>
    <script type="text/javascript" src="{{ STATIC_URL }}js/validation.js"></script>
</head>

<body {% block body_attributes %}{% endblock %}>
<div class="topbar">
    <div class="topbar-content" align="center">
        <a href="{{ URL_PREPENDER }}/">
            <div class="logo">Home</div>
        </a>

        <div class="user-account">
            {% if user.is_authenticated %}
                {{ user.username }}
                <a href="{{ URL_PREPENDER }}/accounts/profile" class="btn btn-mini account-button"><i
                        class="icon-user"></i></a>
                <a href="{{ URL_PREPENDER }}/accounts/logout" class="btn btn-mini account-button btn-yellow"><i
                        class="icon-off icon-white"></i></a>
            {% else %}
                <a href="{{ URL_PREPENDER }}/accounts/register" class="btn btn account-button"><i
                        class="icon-check"></i> Register</a>
                <a href="{{ URL_PREPENDER }}/accounts/login" class="btn btn account-button"><i class="icon-user"></i>
                    Sign In</a>
            {% endif %}

        </div>

        <div class="search" style="margin-right:20px">
            <form id="search" action="{{ URL_PREPENDER }}/search" onsubmit="return validateSearchInput('search')">
                <input id="search-text" style="width:80%" type="text" name="q" placeholder="Search References">
            </form>
        </div>

        <div class="menu">
            <a href="{{ URL_PREPENDER }}/taxonomy" class="menu-item">
                <img src="{{ STATIC_URL }}img/static_img/home/menu-taxonomy.png"/>

            </a>

            <a href="{{ URL_PREPENDER }}/contact" class="menu-item">
                <img src="{{ STATIC_URL }}img/static_img/home/contact.png"/>
            </a>
        </div>


    </div>
</div>

<div class="container-fluid content">

    {% block content %}{% endblock %}

</div>


<div id="footer">
    <div class="upper_footer">
        <div class="footer_container">
            <h4 id="additionalLinks">Additional BioSharing Links</h4>

            <ul class="footer_links">
            </ul>

            <ul class="footer_links">
                <h4>Developed by</h4>
                <li><a href="http://www.oerc.ox.ac.uk" target="_blank">Oxford e-Research Center</a></li>
                <li><a href="http://ovii.oerc.ox.ac.uk" target="_blank">OVii</a></li>
            </ul>


            {% if user.is_authenticated %}
                <ul class="footer_links">
                    <h4>Contribute</h4>
                    <li><a href="{{ URL_PREPENDER }}/volunteer">Volunteer to maintain</a></li>
                </ul>
            {% endif %}

            <ul class="footer_links">
                <h4>Contact Us</h4>
                <li><a href="{{ URL_PREPENDER }}/contact" target="_blank">Email</a></li>
                <li><a href="mailto:support@communityvis.org?subject=Community Vis issue">Report an issue</a>
                </li>
                <li><a href="https://www.github.com/ovii" target="_blank">GitHub</a></li>
            </ul>
        </div>
    </div>

    <div class="bottom_footer">
        <div class="footer_container">
            <div class="additional-information" align="center">
                {% block social_network %}
                    <span class='st_facebook_hcount' displayText='Facebook'></span>
                    <span class='st_twitter_hcount' displayText='Tweet'></span>
                    <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
                    <br/><br/>
                {% endblock %}
                © Community Resource: Visualization 2013-Present | Licensed under <a href="http://creativecommons.org/licenses/by/3.0/" alt="View License" target="_blank">Creative
                Commons by 3.0 Unported</a> | Designed by <a href="http://www.antarctic-design.co.uk" target="_blank">Antarctic
                Design</a>

            </div>
        </div>
    </div>

</div>

</body>
</html>
