<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css"/>
    {% block head_additional %} {% endblock %}
    <title>{% block title %}Community-driven Visualization Resource Website{% endblock %}</title>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
</head>

<body>
<div class="topbar">
    <div class="topbar-content" align="center">
        <a href="/web/"><div class="logo">Home</div></a>

        <div class="menu">
            <a href="/web/taxonomy/"><button class="menu-item">Taxonomy</button></a>
            <a href="/web/references/"><button class="menu-item">References</button></a>
            <a href="/web/sign_in/"><button class="menu-item">Sign In</button></a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
