{% extends "base.html" %}
{% block title %}Visualization Taxonomy{% endblock %}

{% load webdesign %}

{% block head_additional %}
    <style>
        .content {
            padding-right: 0px;
            padding-left: 0px;
            *zoom: 1;
            background-color: #f1f2f1;
        }

        .home-white-block {
            background-color: #FFFFFF;
            margin-bottom: 10px;
            -webkit-box-shadow: 0px 0px 5px 0px #AAAAAA;
            box-shadow: 0px 0px 5px 0px #AAAAAA;

        }
    </style>
{% endblock %}

{% block content %}
    <div class="home-page">


        <div class="profile-blocks">
            <div class="span7 home-white-block" style="background-color: #042F4B; min-height: 300px; ">
                <img src="{{ STATIC_URL }}img/static_img/home/header-welcome.png"/>

                <div style="font-weight: lighter; color: #fff; padding:20px; font-size:1.3em; line-height: 26px; text-rendering: optimizelegibility;">
                    Community Resource is an online collection of references compiled by researchers in the field of
                    visualization
                    (including
                    scientific visualization, information visualization and visual analytics). It reflects individual
                    volunteers’ knowledge about a particular subject domain, and is designed to complement conventional
                    search
                    engines which reply more on various rankings such as citations, publication time and user queries.

                </div>
            </div>

            <div class="span5 home-white-block">

                <div class="profile-unit">
                    <br/>

                    <p>Search the reference collection</p>

                    <form id="search" action="{{ URL_PREPENDER }}/search" onsubmit="return validateSearchInput()">
                        <input id="search-text" type="text" name="q" placeholder="Search">
                    </form>
                </div>

            </div>

            <a href="{{ URL_PREPENDER }}/taxonomy">
                <div class="span3 home-white-block" style="min-height: 187px; background-color: #EBB77B">
                    <img src="{{ STATIC_URL }}img/static_img/home/taxonomy-block-item.png"/>
                </div>
            </a>

            <a href="{{ URL_PREPENDER }}/volunteer">
                <div class="span2 home-white-block" style="min-height: 187px; background-color: #042F4B">
                    <img src="{{ STATIC_URL }}img/static_img/home/volunteer-block-item.png"/>
                </div>
            </a>

            <div class="clearfix"></div>

            <div class="span7 home-white-block" style="min-height: 300px;">
                <div class="profile-unit">
                    <br/>

                    <p>Recently added publications</p>
                    <hr/>
                    {% for reference in recent_reference_items %}

                        <div class="reference_box">

                            <p class="title"><a href="{{ URL_PREPENDER }}/reference/{{ reference.id }}">{{ reference.title }}</a></p>

                            <span style="font-size: 0.8em; color:#666666">{{ reference.journal }}</span>{% if reference.year > 0 %}<span class="year">{% if reference.journal %}, {% endif %}{{ reference.year }}</span>{% endif %}

                            {% if reference.url %}
                                <br/>
                                <a href="{{ reference.url }}" target="_blank" class="btn btn-mini">Read Paper</a>
                            {% endif %}

                        </div>
                        {% if not forloop.last %}
                            <hr/>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="span5 home-white-block" style="min-height: 300px;">
                <div class="profile-unit">
                    <br/>

                    <p>Recently modified taxonomy groups</p>
                    <hr/>


                    {% for item in recent_taxonomy_items %}
                        <div>
                            <a href="{{ URL_PREPENDER }}/taxonomy/{{ item.id }}">{{ item.name }} </a>
                            <br/>
                            <span style="font-size: 0.8em; color:#666666">in {{ item.category.name }}</span><br/>
                            <span style="font-size: 0.8em; color:#666666">on {{ item.last_updated }}</span>
                            {% if not forloop.last %}
                                <hr/>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div>
                <img src="{{ STATIC_URL }}/img/static_img/home/footer.png" alt="Footer"/>
            </div>

        </div>

        <div class="clearfix"></div>
        <br/>


    </div>
{% endblock %}