{% extends "base.html" %}
{% load webdesign %}

{% block title %}Profile | {{ profile.user.username }} {% endblock %}
{% block head_additional %}
    <style>
        .content {
            padding-right: 0px;
            padding-left: 0px;
            *zoom: 1;
            background-color: #f1f2f1;
        }
    </style>


    <script type="text/javascript">

        function showResponseWindow(url) {
            $("#responseForm").attr("action", url);
            $('#responseModal').modal('show');
        }

        function showRevokeConfirmWindow(url) {
            $("#confirmRemove").attr("action", url);
            $('#confirmRemoveModal').modal('show');
        }

        function showEnquiryResponseWindow(url) {
            $("#queryResponseForm").attr("action", url);
            $('#queryResponseModal').modal('show');
        }
        {% ifnotequal profile.orcid "" %}
            $(document).ready(function () {
                $.ajax({
                    type: 'GET',
                    url: '{{ URL_PREPENDER }}/orcid?orcid={{ profile.orcid }}',
                    dataType: 'json'
                }).done(function (res) {

                            var html = '<div class="profile-unit" id="orcid"><p>';

                            var orcidBio = res["orcid-profile"]["orcid-bio"];
                            var personalDetails = orcidBio["personal-details"];

                            html += personalDetails["given-names"].value + ' ' + personalDetails["family-name"].value + '<br/>';


                            var biography = '<p>No biography information available.</p>';
                            if (orcidBio["biography"]) {
                                biography = orcidBio["biography"]["value"];
                            }


                            html += '<span style="font-size:0.7em">' + biography + "</span><br/>";
                            if (orcidBio['researcher-urls']) {
                                var urls = orcidBio['researcher-urls']["researcher-url"];

                                if (urls.length > 0) {
                                    html += '<p><i class="icon-globe"></i> Websites</p>'
                                }

                                for (var urlIndex in urls) {
                                    researchURL = urls[urlIndex];
                                    var url = researchURL.url.value;
                                    if (url.indexOf("http") == -1) {
                                        url = "http://" + url;
                                    }
                                    html += '<a href="' + url + '" target="_blank" class="btn btn-small btn-link">' + researchURL["url-name"].value + '</a> <br/>';
                                }
                            }

                            html += '<br/><br/><p><a href="http://orcid.org/{{ profile.orcid }}" target="_blank">View ' + personalDetails["given-names"].value + '\'s profile on ORCID.' + '</a></p><br/>';

                            html += '</p></div>';

                            $("#profile-spinner").hide();
                            $("#orcid").append(html);

                            var publicationHTML = '<div class="profile-unit" id="publication-content">';

                            if (res["orcid-profile"]["orcid-activities"]) {
                                var orcidWorks = res["orcid-profile"]["orcid-activities"]["orcid-works"]["orcid-work"];

                                var count = 0;
                                for (var publicationIndex in orcidWorks) {
                                    var publicationTitle = orcidWorks[publicationIndex]["work-title"]["title"]["value"];
                                    var externalLinks = orcidWorks[publicationIndex]["work-external-identifiers"]["work-external-identifier"];
                                    publicationHTML += '<p>' + publicationTitle;

                                    for (var linkIndex in externalLinks) {
                                        if (externalLinks[linkIndex]["work-external-identifier-type"] === "DOI") {
                                            publicationHTML += '<br/><a href="http://dx.doi.org/' + externalLinks[linkIndex]["work-external-identifier-id"]["value"] + '" class="" target="_blank">Read the paper</a>';
                                        }
                                    }

                                    publicationHTML += '</p><hr/>';

                                    if (count >= 4) {
                                        publicationHTML += '<p><a href="http://orcid.org/{{ profile.orcid }}" target="_blank">View the rest here</a></p>';
                                        break;
                                    }
                                    count += 1;

                                }
                            } else {
                                publicationHTML += '<p>No publications available in this ORCID profile.</p>'
                            }

                            publicationHTML += '</div>';
                            $("#publication-spinner").hide();
                            $("#publication-content").append(publicationHTML);


                        }).
                        fail(function (res) {
                            console.log('Failed to get ORCID Profile for {{ profile.orcid }}.');
                            console.log(res)
                        })

            });
        {% endifnotequal %}

    </script>
{% endblock %}
{% block content %}

    <div class="profile-top">
        <div id="userprofile">
            <img src="http://www.gravatar.com/avatar/{{ gravatar }}" class="profile-picture"/>
        </div>

        <div id="username">
            {{ profile.user.username }}
        </div>

        <div class="pull-right" id="options">
            {% if loggedInUser %}
                <a class="btn btn-yellow" href='{{ URL_PREPENDER }}/profiles/edit'>Expand Profile</a>
                <a class="btn" href='{{ URL_PREPENDER }}/profile/{{ profile.user.username }}'>Public Profile</a>
                <a class="btn" href='{{ URL_PREPENDER }}/accounts/password/reset/'>Reset Password
                </a>
            {% endif %}

            {% if user.is_authenticated and user.is_superuser %}
                <a class="btn" href='{{ URL_PREPENDER }}/admin'>Administration pages</a>
            {% endif %}

        </div>
    </div>

    <div class="profile-content">
        <div class="profile-blocks span6">
            <div class="block span5" id="about">
                <div class="block-head">
                    ORCID Profile
                    <hr/>
                </div>
                <div id="orcid">
                    {% ifnotequal profile.orcid "" %}
                        <span id="profile-spinner" align="center">
                            <p><img align="center"
                                    src="{{ STATIC_URL }}img/static_img/profile/ajax-loader.gif"/><br/><br/>
                                Loading profile from ORCID
                            </p>
                        </span>
                    {% else %}
                        <div class="standard-unit">
                            {% if loggedInUser %}
                                <p><a href="http://www.orcid.org" target="_blank">Register</a> for orcid then enter your
                                    ORCID <a href="{{ URL_PREPENDER }}/profiles/edit">here</a> to integrate your profile
                                    information.</p>
                            {% else %}
                                <p>{{ profile.user.username }} has not registered their ORCID, so this panel is blank.
                                    Learn
                                    more about ORCID <a href="http://www.orcid.org" target="_blank">here</a>.</p>
                            {% endif %}
                        </div>
                    {% endifnotequal %}
                </div>
            </div>

            <div class="block span5" id="publications">
                <div class="block-head">
                    Latest Publications
                    <hr/>
                </div>
                <div id="publication-content">
                    {% ifnotequal profile.orcid "" %}
                        <span id="publication-spinner" align="center">
                    <p><img align="center" src="{{ STATIC_URL }}img/static_img/profile/ajax-loader.gif"/><br/><br/>
                        Loading publications from ORCID</p>
                </span>
                    {% else %}
                        <div class="standard-unit">
                            {% if loggedInUser %}
                                <p><a href="http://www.orcid.org" target="_blank">Register</a> for orcid then enter your
                                    orcid <a
                                            href="{{ URL_PREPENDER }}/profiles/edit">here</a> to integrate your profile
                                    information.</p>
                            {% else %}
                                <p>{{ profile.user.username }} has not registered their ORCID, so this panel is blank.
                                    Learn
                                    more about ORCID <a href="http://www.orcid.org" target="_blank">here</a>.</p>
                            {% endif %}
                        </div>
                    {% endifnotequal %}
                </div>
            </div>
        </div>

        <div class="profile-blocks" id="notification-center">

            {% if user.is_superuser and approvals|length > 0 %}
                <div class="clearfix"></div>
                {#            start notifications section#}
                <div class="block span7" id="approvals">
                    <div class="block-head">
                        Approvals Required
                        <hr/>
                    </div>

                    <div class="profile-unit">
                        {% for approval in approvals %}
                            <div class="well">

                                <p><strong>{{ approval.taxonomyItem.name }}</strong></p>

                                <p style="font-size:1em; font-weight: bolder">Request by <a
                                        href="{{ URL_PREPENDER }}/profiles/{{ approval.requester.username }}">{{ approval.requester.username }}</a>
                                </p>

                                <p style="font-size:0.8em; font-weight: lighter">{{ approval.additionalNotes }}</p>

                                <a href="{{ URL_PREPENDER }}/taxonomy/{{ approval.taxonomyItem.id }}" target="_blank"
                                   class="btn">View
                                    Taxonomy Item</a>

                                <a onclick="showResponseWindow('{{ URL_PREPENDER }}/request_ownership/response/{{ approval.id }}')"
                                   class="btn btn-success">Respond</a>
                            </div>
                            <div class="clearfix"></div>
                        {% endfor %}
                    </div>
                </div>
                {#            end approvals section#}

            {% endif %}
            <div class="clearfix"></div>
            {#            START taxonomy items section#}
            <div class="block span7" id="taxonomy-items">
                <div class="block-head">
                    Taxonomy Items
                    <hr/>
                </div>

                <div class="profile-unit">
                    {% for taxonomyItem in requested %}
                        <div class="well">
                            <div class="alert alert-info">Awaiting approval for ownership</div>
                            <p><strong><a
                                    href="{{ URL_PREPENDER }}/taxonomy/{{ taxonomyItem.taxonomyItem.id }}">{{ taxonomyItem.taxonomyItem.name }}</a></strong>
                            </p>

                            <p><i class="icon-arrow-up"></i> {{ taxonomyItem.taxonomyItem.category }}</p>
                        </div>
                    {% endfor %}

                    {% for taxonomyItem in taxonomyItems %}
                        <div class="well">

                            <p><strong><a
                                    href="{{ URL_PREPENDER }}/taxonomy/{{ taxonomyItem.id }}">{{ taxonomyItem.name }}</a></strong>
                            </p>

                            <p><i class="icon-arrow-up"></i> {{ taxonomyItem.category }}</p>


                            {% if loggedInUser %}

                                <a onclick="showRevokeConfirmWindow('{{ URL_PREPENDER }}/revoke_ownership/{{ taxonomyItem.id }}')"
                                   class="btn btn-small btn-danger">Revoke
                                    ownership</a>
                            {% endif %}

                            {% for enquiry in notifications %}
                                {% ifequal enquiry.taxonomyItem.id taxonomyItem.id %}
                                    <div class="clearfix"></div>
                                    <br/>
                                    <div class="well well-darker">

                                        <p style="font-size: 1.1em">{{ enquiry.enquiry_type }} -
                                            <a href="{{ URL_PREPENDER }}/profile/{{ enquiry.requester.username }}">{{ enquiry.requester.username }}</a>
                                        </p>
                                        <hr/>

                                        {% if enquiry.reference %}
                                            <p style="font-size: 1em">
                                                <strong>Reference</strong>: {{ enquiry.reference.title }} </p>
                                        {% endif %}

                                        <p>{% if enquiry.reference %}<i class="icon-arrow-up"></i>{% endif %}<strong><a
                                                href="{{ URL_PREPENDER }}/taxonomy/{{ enquiry.taxonomyItem.id }}">{{ enquiry.taxonomyItem.name }}</a>
                                        </strong>
                                        </p>

                                        <p><i class="icon-arrow-up"></i> {{ enquiry.taxonomyItem.category }}</p>


                                        <p style="font-style: italic; font-size: 1em">{{ enquiry.additionalNotes }}</p>

                                        <a onclick="showEnquiryResponseWindow('{{ URL_PREPENDER }}/enquiry/approved/{{ enquiry.id }}/')"
                                           class="btn btn-mini btn-success">Approve</a> <a
                                            onclick="showEnquiryResponseWindow('{{ URL_PREPENDER }}/enquiry/rejected/{{ enquiry.id }}/')"
                                            class="btn btn-mini btn-danger">Reject</a>
                                    </div>
                                {% endifequal %}


                            {% endfor %}
                        </div>
                        <div class="clearfix"></div>
                    {% endfor %}
                </div>
            </div>
            {#            END taxonomy items section#}


        </div>
    </div>

    {% include 'fragments/suggestionResponseModal.html' %}
    {% include 'fragments/taxonomyModerationRequestModal.html' %}
    {% include 'fragments/removeModal.html' %}

{% endblock %}