
{% autoescape off %}

{% if references %}

    <div>
       
		<div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            You can get the reference entry in BibTeX format by clicking the reference number.
        </div>

		<div class="well row">
			<div class="btn-group pull-left">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				    Sort by
				    <span class="caret"></span>
  				</a>
			  	<ul class="dropdown-menu">
					<li><a href="{{ request.path }}">Date Added</a></li>
					<li><a href="{{ request.path }}?sort=title">Author list</a></li>
					<li><a href="{{ request.path }}?sort=year">Year</a></li>
					<li><a href="{{ request.path }}?sort=journal">Journal</a></li>
					<li><a href="{{ request.path }}?sort=booktitle">Book Title</a></li>
					<li><a href="{{ request.path }}?sort=issn">ISSN</a></li>
				</ul>
			</div>
		</div>

        {% for reference in references %}
			{{ reference.html }}
        {% endfor %}

    </div>

<script language="javascript">

var bibtexes = {{ bibtex_texts }};

//#for(var text in bibtexes)
//	alert(bibtexes[text]);

$(document).ready(function() {
	var ref_tag = $('div:not(a).reference_box');
	ref_tag.each(function(idx) {
	    $("<a/>", {
			"href":"#",
			"class":"badge badge-info bibtex_js_popover reference_number",
			"rel":"popover",
			"title":"BibTeX",
			"html":true,
			"data-content":"<tiny>" + bibtexes[idx] + "</tiny>",
			text:(idx+1).toString()}
		).prependTo($(this)).popover();
	});

});

</script>

{% else %}

There are no references.

{% endif %}

{% endautoescape %}
