
{% extends "base.html" %}

{% block title %}Visualization References{% endblock %}

{% block content %}

<h1>References</h1>
<p>
This collection of references is maintained by volunteer researcher Eamonn Maguire (Oxford University). If you have identified any errors, missing references or incomplete information, please use the button below to contact us.
</p>
<p>
	<a href="/web/contact/"><button class="btn btn-primary">Suggest addition/correction</button></a>
</p>

	{% include "templates/references_include.html" %}

{% endblock %}
