{% autoescape off %}

    {% if references %}

        <div class="row">
            <div class="col-md-3">
                <div id="controls">

                    <div class="well well-small">
                        <!-- sort -->
                        <div>
							<p><h4><span class="glyphicon glyphicon-filter glyphicon-pad"></span>Search &amp; Filter</h4></p>
                            <div class="btn-group">
                                <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#" align="right">
                                    Sort by
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ request.path }}?sort=authors">Author list</a></li>
                                    <li><a href="{{ request.path }}?sort=year">Year</a></li>
                                    <li><a href="{{ request.path }}?sort=journal">Journal</a></li>
                                    <li><a href="{{ request.path }}?sort=title">Title</a></li>
                                </ul>
                            </div>
                            <!-- filter -->
                            <div style="padding-top:10px">
                                <form id="search" action="{{ URL_PREPENDER }}/search">
                                    <input id="referencefilter" style="width:90%;" type="text" name="q"
                                           placeholder="Type to filter...">
                                </form>
                            </div>
                        </div>
                        <!-- note -->

                    </div>

                    {% if owners != 0 and user.is_authenticated %}
                        <div style="padding-top:5px">
                            <a onclick="showSuggestBox('taxonomy', '{{ URL_PREPENDER }}/enquiry/{{ taxonomy.id }}/')" class="btn btn-warning">Suggest
                                addition/correction</a>
                        </div>
                    {% endif %}


                    <div style="padding-top:5px; text-align:left">

                        <a href="{{ URL_PREPENDER }}/taxonomy/download/{{ taxonomy.id }}" class="btn btn-default" style="width: 82%">Download all as BibTeX</a>
                    </div>
                <div class="clearfix"></div><br/>
                <p>Reference list last updated on {{ taxonomy.last_updated }}</p>
                </div>
            </div>

            <div class="col-md-9">
				<ul class="list-group">

                {% for reference in references %}
					<li class="list-group-item reference_box">
						 {% if owners != 0 %}
                            <a onclick="showSuggestBox('reference', '{{ URL_PREPENDER }}/enquiry/{{ taxonomy.id }}/{{ reference.1.id }}/')"
                               class="btn pull-left btn-small btn-warning" style="margin-right:10px;"><i class="glyphicon glyphicon-exclamation-sign"></i> </a>{% endif %}
                        {% if user.is_superuser or ownerLoggedIn %}
                            <a onclick="showDeleteWindow('{{ reference.1.id }}')" class="pull-left btn btn-small btn-danger" style="margin-right:10px"><span class="glyphicon-trash glyphicon"></span></a>
                        {% endif %}

						{% if reference.1.year > 0 %}
							<span class="badge">{{ reference.1.year }}</span>
						{% endif %}

						<a href="{{ URL_PREPENDER }}/reference/{{taxonomy.id}}/{{ reference.1.id }}?currentPage={{ request.path }}"><h4 class="list-group-item-heading title">{{ reference.1.title }}</h4></a>
                        <p class="list-group-item-text">{{ reference.1.authorsAsText }}</p>

                        <p><span class="journal">{{ reference.1.journal }}</span>{% if reference.1.year > 0 %}
							<span class="year">{% if reference.1.journal %} {% endif %}</span>{% endif %}
                        </p>

                        {% if reference.url %}
                            <a href="{{ reference.1.url }}" target="_blank" class="btn btn-small">View Paper</a>
                        {% endif %}

					</li>
                {% endfor %}
				</ul>				
            </div>
        </div>

        <script language="javascript">

            $(document).ready(function () {

                // filter functionality
                var rf_box = $('#referencefilter');

                $.extend($.expr[':'], {
                    'containsi': function (elem, i, match, array) {
                        return (elem.textContent || elem.innerText || '').toLowerCase()
                                .indexOf((match[3] || "").toLowerCase()) >= 0;
                    }
                });

                rf_box.keyup(function () {
                    if (rf_box.val().length > 0) {
                        $(".reference_box:not(:containsi('" + rf_box.val() + "'))").each(function () {
                            $(this).hide();
                        });
                        $(".reference_box:containsi('" + rf_box.val() + "')").each(function () {
                            $(this).show();
                        });
                    }
                    else {
                        $(".reference_box").show();
                    }
                });

            });

        </script>

    {% else %}

        There are no references.

    {% endif %}

{% endautoescape %}
