{% extends "base.html" %}
{% block title %}Sign in{% endblock %}
{% block content %}
<div id="login" class="login_form" xmlns="http://www.w3.org/1999/html">
    <div class="section-header"><span class="content-section login-section"><span
            class="header-text"><i class="icon-user"></i> Sign in</span></span>
    </div>


    <form accept-charset="UTF-8" action="/users" class="formbody" id="user_edit" method="post">
        <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" class="text" value="✓"><input
                name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden">
        </div>


        <div><label for="user_email">Email</label><br>
            <input id="user_email" class="text form-text span12" name="user[email]" size="20" type="email"
                   value="">
        </div>

        <div><label for="user_password">Password</label><br>
            <input id="user_password" class="text form-text span12" name="user[password]" size="30" type="password"></div>

        <div>
            <input name="user[remember_me]" type="hidden" value="0"><input id="user_remember_me"
                                                                           name="user[remember_me]"
                                                                           type="checkbox" value="1">
            <label for="user_remember_me">Remember me</label></div>
        <div><input name="commit" type="submit" class="btn btn-success" value="Sign in"></div>
    </form>

    <div class="login-additional">
        <a href="/web/register/" rel="nofollow">Sign up</a><br/>
        <a href="/web/reset" rel="nofollow">Forgot your password?</a><br/>

    </div>

</div>

{% endblock %}

