
<div style="height:70px">

<div class="pull-left">
	<h1>Visualization Taxonomy</h1>
</div>
<div class="btn-group pull-right">
	<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
		View
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="/web/taxonomy_alpha/">Alphabetical</a></li>
		<li><a href="/web/taxonomy/">By Category</a></li>
	</ul>
</div>
</div>

<div><p>Use the View menu to the right to sort the taxonomy by category, or alphabetically.</p></div>

<div class="well">
	<div>Items marked <span class="badge badge-success">green</span> have further detail.</div>
	<div>Items marked <span class="badge badge-important">red</span> are awaiting further detail.</div>
</div>

</div>

