{% extends "base.html" %}
{% block title %}Visualization Taxonomy{% endblock %}

{% load webdesign %}

{% block body_attributes %} data-spy="scroll" data-target=".alphanav"{% endblock %}

{% block content %}


    <div class="row-fluid">


        <div>
            {% include "taxonomy-header.html" %}

            <div class="well">
                <p>
                   This is an indexed view of the taxonomy items in our database. If you have a suggestion for another item, please let us know.
                </p>

                <p>
                    <button class="btn btn-large btn-warning pull-right" type="button">I have a suggestion</button>
                </p>
                <br/><br/>
            </div>
            {% if index %}
                {% for letter, items in index.items %}
                    <section id="{{ letter }}">
                        <div class="well taxonomy-well">
                            <a name="{{ letter }}" style="padding-top:-150px"></a>

                            <h1>{{ letter }}</h1>
                            {% for item in items %}
                                <p>

                                    {% if item.4 > 0 %}
                                        <span class="badge badge-yellow">
                                    {% else %}
                                        <span class="badge">
                                    {% endif %}
                                    <i class="icon-white icon-chevron-right"></i></span>
                                    <a href="{{ URL_PREPENDER }}/taxonomy/{{ item.0 }}">{{ item.1 }}</a> <span
                                        class="label" style="color: #414241">in {{ item.2 }}</span>
                                </p>
                            {% endfor %}
                        </div>
                    </section>
                {% endfor %}
            {% else %}
                No taxonomy found.
            {% endif %}
        </div>
    </div>



{% endblock %}
