{% extends "base.html" %}
{% block title %}View Taxonomy Item{% endblock %}

{% block head_additional %}
    <script>
        function showRequestWindow() {
            $('#taxonomyRequestModal').modal('show');
        }

        function showDeleteWindow(referenceId) {
            $('#deleteModal').modal('show');
            $("#deleteModalForm").attr("action", '{{ URL_PREPENDER }}/reference/remove/{{ taxonomy.id }}/' + referenceId + '/');
        }

        function showConfirmWindow() {
            $('#confirmRemoveModal').modal('show');
        }

        function showReferenceAdditionWindow() {
            $('#addReferenceModal').modal('show');
        }


    </script>

{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>
            <small><a href="{{ URL_PREPENDER }}/taxonomy">Taxonomy</a> - {{ taxonomy.name }} ({{ references|length }}
                References)
            </small>
        </h1>
    </div>
    <div class="clearfix"></div>
    <div>
        <div class="span8 taxonomy-detail">
            {{ taxonomy.detail }}
        </div>
        <div class="btn-group pull-right">

            {% if user.is_superuser or ownerLoggedIn %}
                <a class="btn" href="{{ URL_PREPENDER }}/taxonomy/edit/{{ taxonomy.id }}">Edit Record</a>
                <a class="btn btn-blue" onclick="showReferenceAdditionWindow()">Add References</a>
            {% endif %}

            {% if ownerLoggedIn %}
                <a class="btn btn-danger" onclick="showConfirmWindow()">Revoke Ownership</a>
            {% endif %}

            {% if owners == 0 %}
                {% if ownershipRequested %}
                    <a class="btn disabled btn-yellow">Volunteer request lodged</a>
                {% else %}
                    {% if user.is_authenticated %}
                        <a onclick="showRequestWindow()" class="btn btn-yellow">Volunteer to maintain</a>
                    {% else %}
                        <a href="{{ URL_PREPENDER }}/accounts/login" class="btn btn-yellow">Volunteer to maintain</a>
                    {% endif %}
                {% endif %}
            {% else %}
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Record Maintained by
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for owner in taxonomy.owners.all %}
                        <li><a href="{{ URL_PREPENDER }}/profile/{{ owner.username }}">{{ owner.username }}</a></li>
                    {% endfor %}
                </ul>

            {% endif %}


        </div>

    </div>

    <div class="clearfix"></div>
    <br/>

    {% if references %}
        {% include "references_include.html" %}
    {% endif %}

    {% include 'fragments/removeModal.html' %}
    {% include 'fragments/suggestModal.html' %}
    {% include 'fragments/taxonomyRequestModal.html' %}
    {% include 'fragments/addReferenceModal.html' %}
    {% include 'fragments/deleteReferenceModal.html' %}


    <script type="text/javascript">
        window.onload = function () {
            $('.fileupload').fileupload();

        }
    </script>
{% endblock %}
