{% extends "base.html" %}
{% block title %}Visualization Taxonomy{% endblock %}

{% load webdesign %}

{% block body_attributes %} data-spy="scroll" data-target=".alphanav"{% endblock %}

{% block content %}


    <div class="row-fluid">


        <div>
            {% include "taxonomy-header.html" %}

            <div class="">
                <p style="font-size: 1.3em; font-weight: lighter">
                    This is an indexed view of the taxonomy items in our database. If you have a suggestion for another
                    item, please let us know.
                </p>

                {% if user.is_authenticated %}
                    <p class="pull-right">
                        <a href="{{ URL_PREPENDER }}/contact" class="btn btn-warning" type="button"><span
                                class="glyphicon glyphicon-bullhorn glyphicon-pad"></span>I have a suggestion</a>
                        <a href="{{ URL_PREPENDER }}/taxonomy/add" class="btn btn-warning" type="button"><span
                                class="glyphicon glyphicon-plus-sign glyphicon-pad"></span>Add a new taxonomy</a>
                    </p>
                    <br/><br/><br/>
                {% endif %}

            </div>
            {% if index %}
                {% for letter, items in index.items %}
                    <section id="{{ letter }}">
                        <div class="well taxonomy-well">
                            <a name="{{ letter }}" style="padding-top:-150px"></a>

                            <h1>{{ letter }}</h1>
                            {% for item in items %}
                                <p>
                                    <a href="{{ URL_PREPENDER }}/taxonomy/{{ item.0 }}">{{ item.1 }}</a> <span
                                        class="label" style="color: #414241">in {{ item.2 }}</span>
                                </p>
                            {% endfor %}
                        </div>
                    </section>
                {% endfor %}
            {% else %}
                No taxonomy found.
            {% endif %}
        </div>
    </div>



{% endblock %}
