{% extends "base.html" %}
{% block title %}Visualization Taxonomy{% endblock %}

{% load templateutils %}
{% load webdesign %}

{% block content %}

    {% include "taxonomy-header.html" %}


    {% if message %}

        {% if success %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-error">
                {{ message }}
            </div>
        {% endif %}
    {% endif %}

    <div class="">
        <p style="font-size: 1.3em; font-weight: lighter">
            This taxonomy is based on the subject categories used by the submission and review processes for IEEE
            Vis conferences (SciVis, InfoVis and VAST) and European Conference on Visualization (EuroVis). We
            understand that almost all taxonomies will undergo an evolutionary development by the community concerned.
            We will review this taxonomy on a regular basis. Please let us know if you have any suggestions.
        </p>

        <div class="clearfix"></div>
        <div class="row pull-right">

            {% if user.is_authenticated %}
				<a href="{{ URL_PREPENDER }}/contact" class="btn btn-warning" type="button"><span class="glyphicon glyphicon-bullhorn glyphicon-pad"></span>I have a suggestion</a>
				<a href="{{ URL_PREPENDER }}/taxonomy/add" class="btn btn-warning" type="button"><span class="glyphicon glyphicon-plus-sign glyphicon-pad"></span>Add a new taxon</a>
            {% endif %}
        </div>

        <br/><br/>

    </div>

    <br/>

    <div class="row">

        <div class="col-md-4 well">

            <input type="text" name="search_field" id="search_tree" onchange="searchTree()"
                   placeholder="Search Taxonomy"/>

            <div id="taxonomyTree" style="margin-top:10px">
            </div>
        </div>

        <div id="taxonomyInfo" class="col-md-8">
			<h3><span class="glyphicon glyphicon-hand-left" style="padding-right:10px"></span>Welcome! Please select an item in the taxonomy tree.</h3>
        </div>

    </div>

	{{ AJAX_URL_PREFIX }}

	<script type="text/javascript">
		// used in taxonomy_tree API for correct, machine-agnostic URLs
		var apiURLPrefix = "{{ ajax_url_prefix }}";
	</script>

    {% include 'fragments/deleteModal.html' %}
    {% include 'fragments/renameModal.html' %}
    {% include 'fragments/splitModal.html' %}
    {% include 'fragments/moveTaxonomyItemModal.html' %}
    {% include 'fragments/moveReferencesModal.html' %}
    {% include 'fragments/createChildModal.html' %}

{% endblock %}

{% block end_additional %}
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jsTree/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jsTree/jquery.jstree.js"></script>


    <script type="text/javascript">
        var showTreeMenu = false;
        {% if user.is_superuser %}
			showTreeMenu = true;
        {% endif %}

    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/taxonomy_tree.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/handlebars.js"></script>

    {% raw %}
        <script id="taxonomy-template" type="text/x-handlebars-template">
            <div>
                <h1>
                    <small>{{ name }} <a href="{{ url }}"><span style="font-size:0.6em">View Taxonomy Page</span></a>
                    </small>
                </h1>
                <p class="clearText">
                    {{#if description}}
                    {{ description }}
                    {{ else }}
                    No description provided
                    {{/if}}
                </p>
            </div>

            <div>

                <h4>
                    {{ references.length }} References
                </h4>
                {{#each references}}
                <div class="reference_box">

                    <p class="title"><a href="{{ this.url }}">{{ this.guid }}</a></p>

                    <p class="authors">{{ this.bibtex }}</p>

                    <hr/>
                </div>
                {{/each}}
            </div>
        </script>

        <script id="category-info-template" type="text/x-handlebars-template">
            <div>
                <h1>
                    <small>{{ name }}</a>
                    </small>
                </h1>
            </div>

            <div>
                <h4>
                    {{ taxonomyItems.length }} Items
                </h4>
                {{#each taxonomyItems}}
                <div class="reference_box">
                    <p class="title"><i class="icon-arrow-up"></i> <a href="{{ this.url }}">{{ this.title }}</a> <span
                            style="font-size:0.8em; color:#414241; font-weight:bold">{{ this.referenceCount }} References</span>
                    </p>

                    <p class="authors">{{ this.description }}</p>
                    <hr/>
                </div>
                {{/each}}
            </div>
        </script>

        <script id="category-template" type="text/x-handlebars-template">
            <div class="page-header">
                <h1>
                    <small>{{ name }}</small>
                </h1>

            </div>
            <div class="well">

                <h4>
                    {{ items.length }} items in {{ name }}
                </h4>
                {{#each items}}
                <div class="taxonomy-well reference_box">

                    <p class="title"><a href="{{ this.url }}">{{ this.title }}</a></p>

                    <p class="authors">{{ this.authors }}</p>

                    <p><span class="journal">{{ this.journal }}</span></p>
                    <hr/>
                </div>
                {{/each}}
            </div>
        </script>

        <script id="reference-list-template" type="text/x-handlebars-template">

            {{#each references}}
            <li id="{{ this.id }}">{{ this.title }} <br/> <span style="font-size:0.7em">{{ this.authors }}</span></li>
            {{/each}}
            </div>
        </script>

        <script id="reference-list-template-2" type="text/x-handlebars-template">

            {{#each references}}
            <li id="{{ this.id }}" class="otherList">{{ this.title }} <br/> <span
                    style="font-size:0.7em">{{ this.authors }}</span></li>
            {{/each}}
            </div>
        </script>

        <script id="category-list-template" type="text/x-handlebars-template">
            {{#each categories}}
            <option id="{{ this.id }}">{{ this.name }}</option>
            {{/each}}
        </script>

        <script id="taxonomy-list-template" type="text/x-handlebars-template">
            <option>Please select a taxonomy item</option>
            {{#each taxonomy}}
            <optgroup label="{{ this.data }}">
                {{#each children}}
                {{#if this.children }}
                <optgroup label="{{ this.data }}">
                    {{#each children}}
                    <option value="{{ this.id }}" id="{{ this.id }}">{{ this.data }}</option>
                    {{/each}}
                </optgroup>
                {{else}}
                <option value="{{ this.id }}" id="{{ this.id }}">{{ this.data }}</option>
                {{/if}}
                {{/each}}
            </optgroup>
            {{/each}}
        </script>

    {% endraw %}

    <style type="text/css">
        #taxonomyTree a {
            white-space: normal !important;
            height: auto;
            padding: 1px 2px;
        }

        #taxonomyTree li > ins {
            vertical-align: top;
        }

        #taxonomyTree {
            font-size: 12px;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: lighter;
        }

        .jstree-search {
            color: #EBB77B;
            font-weight: bolder;
        }

        #taxonomyTree .jstree-hovered, #taxonomyTree .jstree-clicked {
            border: 0;
        }

        .jstree-default.jstree-focused {
            background: #f5f5f5;
        }

        .jstree-default .jstree-clicked {
            background: none;
            border: none;
            padding: 0 2px 0 1px;
            font-weight: bold;
            color: #2C3E50;
        }

        .jstree-default .jstree-hovered {
            background: none;
            border: none;
            padding: 0 2px 0 1px;
            color: #2C3E50;
            font-weight: bolder;
        {#            font-weight: normal;#}
        }

        .jstree-default a.jstree-search {
            color: #2C3E50;
            font-weight: bolder;
            text-decoration: none;
        }

        input#search_tree {
            padding: 5px 5px 5px 25px;

            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
            color: #414241;
            background: white url({{ STATIC_URL }}img/static_img/search.png) no-repeat 7px 50%;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            border: thin solid #CACACA;
            -webkit-box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
        }

        #originalListContainer, #newListContainer {
            border: #f1f2f1 solid 1px;
            border-radius: 3px;
            list-style-type: none;
            width: 250px;

            padding: 5px;
            float: left;
            margin: 10px 10px 0 0;
            font-size: .8em;
            font-weight: normal;
        }

        #originalListContainer ul, #newListContainer ul {
            overflow: scroll;
            min-height: 160px;
            max-height: 160px;
            margin: 0;
        }

        #originalListContainer li, #newListContainer li {
            list-style: none;
            background-color: #f1f2f1;
            text-indent: 0;
            padding: 5px;
            margin: 0 3px 3px 3px;
            font-size: 0.9em;
            line-height: 1.2em;
            min-width: 205px;
            max-width: 205px;

        }

        #originalListContainer li:hover, #newListContainer li:hover {
            color: #EBB77B;
            cursor: pointer;
        }

        .reference-drop-placeholder {
            border: #EBB77B dashed 1px;
            min-height: 25px;
            background-color: #f1f2f1;
            width: 200px;
            opacity: 0.7;
        }

        .otherList {
            color: #f89406;
        }

        #newTaxonomy li {
            background-color: #EBB77B;
            color: #fff;

        }

        #newTaxonomy li:hover {
            background-color: #EBB77B;
            opacity: 0.7;
            color: #fff;
        }

        #splitModal .modal-body, #moveReferencesModal .modal-body {
            min-height: 300px;
            max-height: 600px;
        }


    </style>
{% endblock %}
