
<div class="row-fluid">
	<div style="height:70px">
		<div class="pull-left">
			<h1>Visualization Taxonomy</h1>
		</div>
		<div class="btn-group pull-right">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				View
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="/web/taxonomy_alpha/">Alphabetical</a></li>
				<li><a href="/web/taxonomy/">By Category</a></li>
			</ul>
		</div>
	</div>

	<div style="height:70px">
		<div class="well pull-left" style="margin-right:5px">Items marked <span class="badge badge-success">green</span> have further detail.</div>
		<div class="well pull-left" style="margin-right:5px">Items marked <span class="badge badge-important">red</span> are awaiting further detail.</div>
	</div>

</div>
