    <div class="page-header">
        <h1>
            <small><a href="{{ URL_PREPENDER }}/taxonomy">Taxonomy</a>
            </small>

                    <div class="btn-group pull-right">
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                            View Preference
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ URL_PREPENDER }}/taxonomy_alpha">Index</a></li>
                            <li><a href="{{ URL_PREPENDER }}/taxonomy">Taxonomy</a></li>
                        </ul>
                    </div>

        </h1>
    </div>

