{% extends "base.html" %}
{% block title %}Visualization Taxonomy{% endblock %}

{% load webdesign %}

{% block content %}

    {% include "taxonomy-header.html" %}

    <div>
        <p style="font-size: 1.3em; font-weight: lighter">
            This taxonomy is based on the subject categories used by the submission and review processes for IEEE
            VisWeek conferences (SciVis, InfoVis and VAST) and European Conference on Visualization (EuroVis). We
            understand that almost all taxonomies will undergo an evolutionary development by the community concerned.
            We will review this taxonomy on a regular basis. Please let us know if you have any suggestions.
        </p>

        <p>

            {% if user.is_authenticated %}
                <a href="{{ URL_PREPENDER }}/contact" class="btn btn-large" type="button">I have a suggestion</a>
                <a href="{{ URL_PREPENDER }}/taxonomy/add" class="btn btn-large btn-yellow" type="button">Add a new
                    taxonomy</a>
            {% endif %}
        </p>
    </div>

    <div class="clearfix"></div>
    <br/>

    <div class="row-fluid">
        {% if taxonomies %}
            {% for category in taxonomies %}
                {% if forloop.counter|divisibleby:"1" %}
                    <ul class="thumbnails">{% endif %}
            <div class="well taxonomy-well">
                <h1>{{ category.name }}</h1>

                <p>
                    {% for item in category.taxonomyitem_set.all %}

                        {% if item.references.all|length > 0 %}
                            <span class="badge badge-yellow taxonomy-item">
                        {% else %}
                            <span class="badge badge-dark-grey taxonomy-item">
                        {% endif %}
                    <a href="{{ URL_PREPENDER }}/taxonomy/{{ item.id }}"
                       style="color:white">{{ item.name }}</a></span>
                    {% endfor %}
                </p>
            </div>
            {% if forloop.counter|divisibleby:"1" %}</ul>{% endif %}
            {% endfor %}
            </div>
        {% else %}
            No taxonomy found.
        {% endif %}
    </div>



{% endblock %}
