{% extends "base.html" %}
{% block title %}View Taxonomy Item{% endblock %}

{% block head_additional %}
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-fileupload.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-fileupload.min.css"/>

    <script>
        function showRequestWindow() {
            $('#taxonomyRequestModal').modal('show');
        }

        function showDeleteWindow(referenceId) {
            $('#deleteModal').modal('show');
            $("#deleteModalForm").attr("action", '{{ URL_PREPENDER }}/reference/remove/{{ taxonomy.id }}/' + referenceId + '/');
        }

        function showRevokeWindow() {
            $('#confirmRevokeModal').modal('show');
        }

        function showReferenceAdditionWindow() {
            console.log("Trying to show");
            $('#addReferenceModal').modal({show: true});
        }


    </script>



    <style type="text/css">
        .hidden {
            display: none;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>
            <small><a href="{{ URL_PREPENDER }}/taxonomy">Taxonomy</a> - {{ taxonomy.category.name }}
                - {{ taxonomy.name }} ({{ references|length }}
                References)
            </small>
        </h1>
    </div>
    <div class="clearfix"></div>
    <div>
        <div class="taxonomy-detail">
            {{ taxonomy.detail }}
        </div>
        <div class="clearfix"></div>
        <br/>

        <div class="btn-group pull-right">

            {% if user.is_superuser %}
                <a class="btn btn-default" href="{{ URL_PREPENDER }}/taxonomy/edit/{{ taxonomy.id }}"><span
                        class="glyphicon glyphicon-edit glyphicon-pad"></span>Edit Record</a>
            {% endif %}

            {% if user.is_superuser or ownerLoggedIn %}
                <a class="btn btn-default" onclick="showReferenceAdditionWindow()"><span
                        class="glyphicon glyphicon-plus glyphicon-pad"></span>Add References</a>

            {% endif %}

            {% if ownerLoggedIn %}
                <a class="btn btn-danger" onclick="showRevokeWindow()">Revoke Ownership</a>
            {% endif %}

            {% if owners == 0 %}
                {% if ownershipRequested %}
                    <a class="btn disabled btn-warning">Volunteer request lodged</a>
                {% else %}
                    {% if user.is_authenticated %}
                        <a onclick="showRequestWindow()" class="btn btn-warning"><span
                                class="glyphicon glyphicon-thumbs-up glyphicon-pad"></span>Volunteer to maintain</a>
                    {% else %}
                        <a href="{{ URL_PREPENDER }}/accounts/login" class="btn btn-warning">Login to Volunteer to
                            Maintain</a>
                    {% endif %}
                {% endif %}
            {% else %}
                <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
                    Record Maintained by
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for owner in taxonomy.owners.all %}
                        <li><a href="{{ URL_PREPENDER }}/profile/{{ owner.username }}">{{ owner.username }}</a></li>
                    {% endfor %}
                </ul>

            {% endif %}


        </div>

    </div>

    <div class="clearfix"></div>
    <br/>

    {% if references %}
        {% include "references_include.html" %}
    {% endif %}

    {% include 'fragments/revokeModal.html' %}
    {% include 'fragments/suggestModal.html' %}
    {% include 'fragments/taxonomyRequestModal.html' %}
    {% include 'fragments/addReferenceModal.html' %}
    {% include 'fragments/deleteReferenceModal.html' %}


    <script type="text/javascript">
        window.onload = function () {

            $('.fileupload').fileupload();

        }
    </script>
{% endblock %}
