{% extends "base.html" %}
{% load webdesign %}

{% block title %}Volunteer{% endblock %}

{% block head_additional %}
    <script type="text/javascript">
        function validate() {
            var name = document.forms["volunteer-form"]["name"].value;
            var comments = document.forms["volunteer-form"]["message"].value;

            blankName = (name === "");
            blankDetails = (comments === "");

            var errorHTML = "";

            if (blankName) {
                errorHTML += '<div class="alert alert-error">Please enter a name!</div>'

                if (blankDetails) {
                    errorHTML += '<div class="alert alert-error">Please enter a message!</div>'
                }

                $("#errors").html(errorHTML);

                $("#name_group").toggleClass("form-group error", blankName);

                $("#comments_group").toggleClass("form-group error", blankDetails);

                return !(blankName || blankDetails);
            }
        }

        function updateAction() {
            var taxonomyId = document.forms["volunteer-form"]["taxonomyItem"].value;

            console.log('Taxonomy id is ' + taxonomyId);

            $("#volunteer-form").attr("action", '{{ URL_PREPENDER }}/request_ownership/' + taxonomyId);
        }
    </script>

    <style type="text/css">
        .login_form {
            margin: 0em 5em;
        }
    </style>
{% endblock %}

{% block content %}

    {% if noItems %}
        <div class="clearfix"></div>
        <div class="hero-unit">
            <h4>Everything is maintained</h4>

            <p>Thanks for your interest, but all the taxonomy items are now maintained!</p>
        </div>
    {% else %}

        <div class="home-page">
            <div class="col-md-5">

                <img src="{{ STATIC_URL }}/img/static_img/home/volunteer.png" align="center"/><br/>
                <p style="font-weight: lighter; color: #414241; font-size:1.2em; line-height: 22px; text-rendering: optimizelegibility;">The development and maintenance of this resource requires the selfless contributions from many
                volunteers in the field. If you wish to help manage a sub-collection of references on a specific subject
                of which you have considerable knowledge of, please let us know. You can fill in the form below to
                request ownership of one of our taxonomy items.</p>
            </div>

            <div id="login" class="login_form col-md-7">

                <form action="" method="post" id="volunteer-form" class="form-horizontal" style="margin-top:20px; margin-bottom:100px;"
                      onsubmit="return validate();">

                    <div id="errors">
                    </div>
                    {% csrf_token %}

                    <div id="name_group" class="form-group">
                        <label for="name" class="control-label col-lg-4">Name</label>
                        <div class="controls col-lg-8">
                            <input id="name" type="text" name="name" class="form-control">
                        </div>
                    </div>


					<div class="form-group">
						<label for="availableItems" class="control-label col-lg-4">Select a Taxonomy Item</label>
						<div class="col-lg-8">
						<select name="availableItems" id="taxonomyItem" class="form-control" onchange="updateAction()">

							{% for category, taxonomyItems in available.items %}
								<optgroup label="{{ category }}">
									{% for taxonomyItem in taxonomyItems %}
										<option value="{{ taxonomyItem.id }}">{{ taxonomyItem.name }}</option>
									{% endfor %}
								</optgroup>
							{% endfor %}
						</select>
						</div>
					</div>

                    <div id="comments_group" class="form-group">
                        <label for="comments" class="control-label col-lg-4">Tell us why you should maintain this item.</label>
                        <div class="col-lg-8">
                            <textarea id="message" name="message" maxlength="5000" rows=10 class="form-control"
                                      placeholder="I wish to take ownership of the above taxonomy item. I include relevant details of my expertise in the area."></textarea>
                        </div>
                    </div>

					<div class="form-group">
						<div class="col-lg-4"></div>
	                    <div class="col-lg-8">
	                        <input type="submit" class="btn btn-warning pull-right" value="Submit Volunteer Request">
						</div>
                    </div>

                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}
