body {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;

    color: #042F4B;
}

.topbar {
    position: fixed;
    height: 60px;
    min-width: 1200px;
    width: 100%;
    overflow: visible;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea')";
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0px 10px rgba(0, 0, 0, 0.1);
}

.topbar-home {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #fff;
    overflow: visible;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.topbar-content {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;

}

.logo {
    background-image: url('../img/static_img/logo_swapped.png');
    background-repeat: no-repeat;
    width: 460px;
    height: 58px;
    float: left;
    display: block;
    padding: 8px 20px 12px;
    margin-left: -20px;
    color: white;
    line-height: 1;
    text-indent: -9999px;
}

.menu, .search, .user-account {
    margin-top: 15px;
    margin-left: 5px;

    display: block-inline;
    float: right;
    font-weight: bold;
}

.user-account {
    margin-top: 22px;
}

.menu {
    margin-right: 40px;

}

.account-button {
    margin-top: -3px;
    margin-left: 2px;
}

.menu a {
    text-decoration: none;
}

.menu-item {
    background: none;
    border: none;
    color: #042F4B;
    text-decoration: none;
    padding-bottom: 23px;
    font-weight: bold;
    border-bottom: thin solid #ccc;
    margin-left: 10px;
    text-decoration: none;
}

.menu-item:hover {
    border-color: #bc8400;
    color: #042F4B;
}

/*login*/

#login {
    width: 31em;
}



.login_form .formbody {

    padding: 2em;
    background-color: whiteSmoke;
    overflow: hidden;
    border-style: solid;
    border-width: 1px 1px 2px;
    border-color: #E9F1F4 #D8DEE2 #D8DEE2;
    border-radius: 0 0 3px 3px;
}

.form-text {
    padding: 2px 5px 5px 5px;
    border: 1px solid #D8DEE2;
}

.error-text {
    background-color: #e9322d;
}

.login_form form input.text, .login_form form textarea, .login_form form input[type="checkbox"] {
    padding: 5px;
    border: 1px solid #D8DEE2;
}

.section-header {
    border: 1px solid #EAEAEA;
    border-bottom-color: #CACACA;
    border-radius: 3px;
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
    width: 100%;
    height: 30px;
    /*text-indent: -9999px;*/
}

.header-text {
    display: inline-block;
    font-weight: bold;
    padding-top: 8px;
}

.content-section {
    display: inline-block;
    background-size: 30px;
    height: 30px;
    padding-left: 10px;
    padding-top: 0px;
    font-weight: bold;
}

#search input#search-text {
    padding: 5px 5px 5px 25px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #414241;
    background: white url(../img/static_img/search.png) no-repeat 7px 50%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: thin solid #CACACA;
    -webkit-box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
}

.content {
    margin-top: 60px;
}

.user-account span {
    font-weight: lighter;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: thin solid #CACACA;
    -webkit-box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;

}

.home-page {
    margin-top: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.search-wrapper #search {
    width: 90%;
    margin-left: 15px
}

#search-text {
    width: 90%;
}

.main-content {
    padding-left: 10px;
}

.cr-hero-unit {
    padding: 40px;
    margin-bottom: 20px;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.taxonomy-well h1 {
    font-size: 20px;
    color: #444;
}

.taxonomy-well {

}

.taxonomy-item {
    padding: 5px;
    margin: 5px;
    line-height: 30px;
}

.cr-hero-unit h1 {
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: -1px;
    color: inherit;
}

.cr-hero-unit p {
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    color: inherit;
}

.front-item {
    width: 300px;
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea')";
    border: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0px 10px rgba(0, 0, 0, 0.1);
    padding: 4px;
}

.front-item:hover {
    border-bottom: 2px solid #bc8400;
}

.search-wrapper {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea')";
    border: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0px 10px rgba(0, 0, 0, 0.1);
    padding-top: 25px;
}

.offset4-5 {
    margin-left: 280px;
}

.home-content {
    float: none;
    width: 965px;
    margin-left: auto;
    margin-right: auto;
}

.reference_box {
    padding: 0.5em;
    min-height: 20px;

}

.reference_box p {
    margin-bottom: 5px;
}

/* Speech bubble with a shadow */

.bubble {

    background-color: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea')";
    border: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    color: #333;
    display: inline-block;
    font: 14px/25px sans-serif;
    padding: 15px 25px;
    position: relative;
    text-shadow: 0 1px 1px hsla(0, 0%, 100%, .5);
}

.bubble:after, .bubble:before {
    border-bottom: 25px solid transparent;
    border-right: 25px solid #EAEAEA;
    bottom: -25px;
    content: '';
    position: absolute;
    right: 25px;
}

.bubble:before {
    border-right: 25px solid #CACACA;
    bottom: -25px;
    right: 23px;
}

.recent-items {
    list-style: none;
    margin: 0;
}

.recent-items li {

    padding: 10px;
    padding-left: 5px;

    margin-bottom: 5px;
    background-color: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea')";
    border: 1px solid #CACACA;
    border-left: thick solid #bc8400;
    font-weight: bolder;
    font-size: 0.9em;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0px 10px rgba(0, 0, 0, 0.1);
}

.recent-items li:hover {
    border-left: thick solid #bc8400;
}

.badge-info, .badge-info[href] {
    background-color: #042F4B;
}

.alphanav {
    position: fixed;
    bottom: 0;
    left: 10px;
    width: 40px;
    top: 80px;

}

#footer h6 {
    font-size: 1.1em;
    line-height: 18px;
    margin-bottom: 0;
    font-weight: bold;
    color: #042F4B;
}

#footer #social-links li {
    line-height: 24px;
    padding-left: 20px;
}

#footer {
    width: 100%;
    float: left;
    clear: both;
    padding: 0 0 36px 0;
}

#footer .section {
    overflow: hidden
}

#footer p, #footer a, #footer p a {

    color: #042F4B;
    border-bottom: 0 none;
}

#footer .menu {
    margin-left: 0;
    font-size: 1.1em;
}

#footer .menu li {
    color: #999;
    line-height: 18px;
    white-space: normal;
}

#footer #copyright {
    white-space: nowrap;
    margin: 0 30px 0 0;
    text-align: right;
}

#footer .hr {
    height: 18px;
}

#footer {
    color: #042F4B;
    /*padding: 10px 0 0 0;*/
    font-size: 12px;
    clear: both;
    /*margin-top: 20px;*/
}

.footer_container {
    width: 992px;
    margin: 0 auto;
}

.upper_footer {
    min-height: 130px;
    /*margin-top: 20px;*/
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    box-shadow: inset 0 -1px 0 white;
    background-color: #F8F8F8;
}

#additionalLinks {
    height: 130px;
    width: 164px;
    float: left;
    background: url('../img/static_img/abstract-logo.png') no-repeat;
    text-indent: -5000px;
    margin: 15px 20px 0 0;
}

.bottom_footer {
    position: relative;
    background-color: white;
    overflow: hidden;
    clear: both;
    min-height: 60px;
}

#footer .upper_footer h4 {
    color: #666;
    font-size: 13px;
}

#footer .upper_footer ul {
    list-style: none;
}

#footer .upper_footer ul.footer_links {
    position: relative;
    float: left;
    width: 164px;
    margin: 20px 10px;
}

#footer .upper_footer ul.footer_links a {
    color: #bc8400;
    font-size: 13px;
    font-weight: normal;
}

.profile-top {
    height: 80px;
    background-color: #fff;
    border-bottom: #f1f2f1 solid 2px;

}

#userprofile {
    float: left;
}

.profile-picture {
    border-radius: 1px;
}

.profile-top #username {
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: lighter;
    color: #414241;
    float: left;
}

.profile-top #options {
    float: right;
    padding-top: 23px;
    padding-right: 20px;
}


.profile-content {
    width:1100px;
    margin: 0 auto;
}


.profile-blocks {
margin: 0 auto;
    margin-top: 30px;
    float:left;
}

.block-head {
    padding: 17px 20px 15px;
    font-weight: lighter;
    font-size: 1.7em;
    color: #414241;
}

.block {
    background-color: #fff;
    min-height: 100px;
    border-bottom: 1px solid #ccc;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    padding: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
    float:left;
}

.big-block {
    width: 820px;
}

#about {
    border-top: 4px #bc8400 solid;
}

#publications {
    border-top: 4px #042F4B solid;
}

#notifications {
    border-top: 4px #e46f61 solid;
}

#taxonomy-items
{
    border-top: 4px #4dbfd9 solid;
}


.profile-unit {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.profile-unit h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
}

.profile-unit p {
    font-size: 18px;
    font-weight: 200;
    /*line-height: 30px;*/
    color: inherit;
}

#publication-content p {
    font-size: 1.0em;
    color: inherit;
}

.reference_box .title {
    font-size: 1.0em;
    font-weight: bolder;
}

.reference_box .journal {
    font-size: 0.8em;
    font-weight: bolder;
}

.reference_box .year {
    font-size: 0.9em;
    font-weight: normal;
}

.reference_box .authors {
    font-size: 0.9em;
    font-weight: lighter;
}

.taxonomy-detail {
    font-size: 1.2em;
    font-weight: lighter;
}

.well-darker {
    background-color: #f8f8f8;
}

.reference-block-addition-section {
    padding: 20px;
}


.btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  direction: ltr;
}

.fileupload {
  margin-bottom: 9px;
}

.fileupload .uneditable-input {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: text;
}

.fileupload .thumbnail {
  display: inline-block;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.fileupload .thumbnail > img {
  display: inline-block;
  max-height: 100%;
  vertical-align: middle;
}

.fileupload .btn {
  vertical-align: middle;
}

.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
  display: none;
}

.fileupload-inline .fileupload-controls {
  display: inline;
}

.fileupload-new .input-append .btn-file {
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}

.thumbnail-borderless .thumbnail {
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.fileupload-new.thumbnail-borderless .thumbnail {
  border: 1px solid #ddd;
}

.control-group.warning .fileupload .uneditable-input {
  color: #a47e3c;
  border-color: #a47e3c;
}

.control-group.warning .fileupload .fileupload-preview {
  color: #a47e3c;
}

.control-group.warning .fileupload .thumbnail {
  border-color: #a47e3c;
}

.control-group.error .fileupload .uneditable-input {
  color: #b94a48;
  border-color: #b94a48;
}

.control-group.error .fileupload .fileupload-preview {
  color: #b94a48;
}

.control-group.error .fileupload .thumbnail {
  border-color: #b94a48;
}

.control-group.success .fileupload .uneditable-input {
  color: #468847;
  border-color: #468847;
}

.control-group.success .fileupload .fileupload-preview {
  color: #468847;
}

.control-group.success .fileupload .thumbnail {
  border-color: #468847;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  outline: none;
}

.nav-tabs > li.disabled > a {
  color: #CCCCCC;
  cursor: not-allowed;
}

.tabbable {
  border-color: #ddd;
  border-style: solid;
  border-width: 0;
  *zoom: 1;
}

.tabbable:before,
.tabbable:after {
  display: table;
  line-height: 0;
  content: "";
}

.tabbable:after {
  clear: both;
}

.tabbable > .nav-tabs {
  margin: 0;
}

.tab-content {
  padding: 18px 0 0 0;
  overflow: auto;
  border-color: #ddd;
  border-style: solid;
  border-width: 0;
}

.tabbable-bordered {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tabbable-bordered > .tab-content {
  padding: 20px 20px 10px 20px;
  border-width: 0 1px 1px 1px;
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

body > .container.tabbable > .nav-tabs {
  padding-top: 15px;
}

.tabs-below > .tab-content {
  padding: 0 0 10px 0;
}

.tabs-below.tabbable-bordered > .tab-content {
  padding: 20px 20px 10px 20px;
  border-width: 1px 1px 0 1px;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

body > .container.tabs-below.tabbable-bodered > .tab-content {
  border-top-width: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.tabs-left,
.tabs-right {
  margin-bottom: 20px;
}

.tabs-left > .nav-tabs,
.tabs-right > .nav-tabs {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}

.tabs-left > .tab-content,
.tabs-right > .tab-content {
  overflow: hidden;
}

.tabs-left > .nav-tabs {
  left: 1px;
}

.tabs-left > .nav-tabs > .active > a,
.tabs-left > .nav-tabs > .active > a:hover {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-left > .tab-content {
  padding: 0 0 0 19px;
  border-left-width: 1px;
}

.tabs-left.tabbable-bordered {
  border-width: 0 1px 0 0;
}

.tabs-left.tabbable-bordered > .tab-content {
  padding: 20px 20px 10px 20px;
  border-width: 1px 0 1px 1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

body > .container.tabs-left.tabbable-bodered > .tab-content {
  border-top-width: 0;
  -webkit-border-radius: 0 0 4px 0;
     -moz-border-radius: 0 0 4px 0;
          border-radius: 0 0 4px 0;
}

.tabs-right > .nav-tabs {
  right: 1px;
}

.tabs-right > .nav-tabs > .active > a,
.tabs-right > .nav-tabs > .active > a:hover {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

.tabs-right > .tab-content {
  padding: 0 19px 0 0;
  border-right-width: 1px;
}

.tabs-right.tabbable-bordered {
  border-width: 0 0 0 1px;
}

.tabs-right.tabbable-bordered > .tab-content {
  padding: 20px 20px 10px 20px;
  border-width: 1px 1px 1px 0;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

body > .container.tabs-right.tabbable-bodered > .tab-content {
  border-top-width: 0;
  -webkit-border-radius: 0 0 0 4px;
     -moz-border-radius: 0 0 0 4px;
          border-radius: 0 0 0 4px;
}

.btn-blue {
  background-color: hsl(213, 54%, 20%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#234875", endColorstr="#17304e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#234875), to(#17304e));
  background-image: -moz-linear-gradient(top, #234875, #17304e);
  background-image: -ms-linear-gradient(top, #234875, #17304e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #234875), color-stop(100%, #17304e));
  background-image: -webkit-linear-gradient(top, #234875, #17304e);
  background-image: -o-linear-gradient(top, #234875, #17304e);
  background-image: linear-gradient(#234875, #17304e);
  border-color: #17304e #17304e hsl(213, 54%, 17.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

.btn-yellow {
  background-color: hsl(42, 100%, 37%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efa700", endColorstr="#bc8400");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#efa700), to(#bc8400));
  background-image: -moz-linear-gradient(top, #efa700, #bc8400);
  background-image: -ms-linear-gradient(top, #efa700, #bc8400);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efa700), color-stop(100%, #bc8400));
  background-image: -webkit-linear-gradient(top, #efa700, #bc8400);
  background-image: -o-linear-gradient(top, #efa700, #bc8400);
  background-image: linear-gradient(#efa700, #bc8400);
  border-color: #bc8400 #bc8400 hsl(42, 100%, 34.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;

}

.badge-yellow {
    background-color: #bc8400;
    text-shadow: none;
}
​
.badge-dark{
    background-color: #414241;
    text-shadow: none;
}


.reference-block {
    margin: 0 auto;
    margin-top: 30px;
    float:left;
}

.reference-block {
    background-color: #f8f8f8;
    min-height: 100px;
    border-bottom: 1px solid #ccc;

    padding: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
    float:left;
}
