body {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;

    color: #042F4B;
}

.topbar {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #fff;
    overflow: visible;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea')";
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0px 10px rgba(0, 0, 0, 0.1);
}

.topbar-content {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;

}

.logo {
    background-image: url('../img/static_img/logo.png');
    background-repeat: no-repeat;
    width: 460px;
    height: 58px;
    float: left;
    display: block;
    padding: 8px 20px 12px;
    margin-left: -20px;
    color: white;
    line-height: 1;
    text-indent: -9999px;
}

.menu, .search, .user-account {
    margin-top: 17px;
    margin-left: 5px;

    display: block-inline;
    float: right;
    font-weight: bold;
}

.user-account {
    margin-top: 22px;
}

.menu {
    margin-right: 40px;
    margin-top: 22px;
}

.account-button {
    margin-top: -3px;
    margin-left: 2px;
}

.menu a {
    text-decoration: none;
}

.menu-item {
    background: none;
    border: none;
    color: #042F4B;
    text-decoration: none;
    padding-bottom: 20px;
    font-weight: bold;
    border-bottom: thin solid #ccc;
    margin-left: 10px;
    text-decoration: none;
}

.menu-item:hover {
    border-color: #EBB77B;
    color: #042F4B;
}

/*login*/

#login {
    width: 31em;
}

.login_form {
    margin: 5em auto;
}

.login_form .formbody {

    padding: 2em;
    background-color: whiteSmoke;
    overflow: hidden;
    border-style: solid;
    border-width: 1px 1px 2px;
    border-color: #E9F1F4 #D8DEE2 #D8DEE2;
    border-radius: 0 0 3px 3px;
}

.form-text {
    padding: 2px 5px 5px 5px;
    border: 1px solid #D8DEE2;
}

.login_form form input.text, .login_form form textarea, .login_form form input[type="checkbox"] {
    padding: 5px;
    border: 1px solid #D8DEE2;
}

.section-header {
    border: 1px solid #EAEAEA;
    border-bottom-color: #CACACA;
    border-radius: 3px;
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
    width: 100%;
    height: 30px;
    /*text-indent: -9999px;*/
}

.header-text {
    display: inline-block;
    font-weight: bold;
    padding-top: 8px;
}

.content-section {
    display: inline-block;
    background-size: 30px;
    height: 30px;
    padding-left: 10px;
    padding-top: 0px;
    font-weight: bold;
}

#search input#search-text {
    padding: 5px 5px 5px 25px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #BBB;
    background: white url(../img/static_img/search.png) no-repeat 7px 50%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: thin solid #CACACA;
    -webkit-box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
}

.content {
    margin-top: 80px;
}

.user-account span {
    font-weight: lighter;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: thin solid #CACACA;
    -webkit-box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;

}

.home-page {
    margin-top: 70px;
}

.search-wrapper #search #search-text{
    width: 400px;
}

.front-item {
    width:300px;
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea')";
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0px 10px rgba(0, 0, 0, 0.1);
    padding: 4px;
}

.front-item:hover{
    border-bottom: 2px solid #EBB77B;
}

.search-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
}

.offset5-5 {
    margin-left: 400px;
}