<div id="createChildModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="confirmRemoveRequest"
     aria-hidden="true" xmlns="http://www.w3.org/1999/html">
	 <div class="modal-dialog">
		 <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4>Create Child Item</h4>
			</div>
			<form accept-charset="UTF-8" action="" class="form-horizontal" id="addChildForm"
				  method="post" onsubmit="return validateCreateChildForm()">
			<div class="modal-body">
				{% csrf_token %}
				<p>This operation will create a new item as a parent of <span id="parentName"></span>. Any references will also be moved into the new child.</p>
				<div id="create_child_errors"></div>
				<br/>
				<div id="create_child_detail_group" class="form-group">
					<label for="comments" class="col-lg-4 control-label">Name of new child:</label>
					<div class="col-lg-8">
						<input name="newChildName" type="text" class="form-control"/>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<input name="create" type="submit" class="btn btn-warning pull-right" value="Add Child">
			</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	function validateCreateChildForm() {
		var message = document.forms["addChildForm"]["newChildName"].value;
		blankMessage = (message === "");
		var errorHTML = "";
		if (blankMessage) {
			errorHTML += '<div class="alert alert-error">Please enter a name!</div>'
		}

		$("#create_child_errors").html(errorHTML);
		$("#create_child_detail_group").toggleClass("control-group error", blankMessage);
		return !(blankMessage);
	}
</script>
