<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalForm"
     aria-hidden="true">
	 <div class="modal-dialog">
		 <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4>Delete Reference</h4>
			</div>
			<div class="modal-body">Are you sure you wish to delete this reference?</div>
			<div class="modal-footer">
				<div class="control-group">
					<form accept-charset="UTF-8" action="" class="formbody" id="deleteModalForm" method="post">
						{% csrf_token %}	
						<input type="hidden" name="postedFrom" value="{{ request.path }}"/>
						<input name="commit" type="submit" class="btn btn-danger" value="Yes">
						<button data-dismiss="modal" class="btn">No</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
