<div id="moveCategoryModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="confirmRemoveRequest"
     aria-hidden="true" xmlns="http://www.w3.org/1999/html">
	 <div class="modal-dialog">
		 <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4>Move Item</h4> <span style="visibility:hidden;" id="taxonomyItemToMove"></span>
			</div>
			<form accept-charset="UTF-8" action="" class="formbody" id="moveCategoryForm" method="post">
				<div class="modal-body" id="booking">
					{% csrf_token %}
					<div id="rename_errors"></div>
					<div id="rename_detail_group" class="control-group">
						<label for="comments" class="control-label">Please select the new category</label>
						<div class="controls">
							<select id="categories" name="newCategory" class="span5">
								<option></option>
								{# this will be populated automatically#}
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<input name="commit" type="submit" class="btn btn-warning pull-right" value="Move to New Category">
				</div>
			</form>
		</div>
	</div>
</div>
