<div id="queryResponseModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="queryResponse"
     aria-hidden="true">
	 <div class="modal-dialog">
		 <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3>Response to Suggestion</h3>
			</div>
			<form accept-charset="UTF-8" action="" class="formbody" id="queryResponseForm"
				  method="post">
				<div class="modal-body">
					<div class="modal-body" id="booking">
						{% csrf_token %}
						<div class="control-group">

							<label for="comments" class="control-label">Insert any further information you want to provide
								to the requester.</label>

							<div class="controls">
								<textarea name="message" maxlength="5000" rows=10 cols=20 class="form-control"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer" id="button">
					<input name="commit" type="submit" class="btn btn-danger" value="Submit Response">
				</div>
			</form>
		</div>
	</div>
</div>
