<script type="text/javascript">
    function validateSuggestionForm() {
        var message = document.forms["suggestForm"]["message"].value;
        blankMessage = (message === "");
        var errorHTML = "";
        if (blankMessage) {
            errorHTML += '<div class="alert alert-error">Please enter a message!</div>'
        }

        $("#suggest_errors").html(errorHTML);

        $("#suggest_message_group").toggleClass("control-group error", blankMessage);
        return !(blankMessage);
    }

    function showSuggestBox(type, url, desc) {
		$('#suggestionsForName').html(desc);
        if (type === 'taxonomy') {
            $('#options').html('<div class="controls">' +
                    '<select name="type" class="form-control">' +
                    '<option>Modify description</option>' +
                    '<option>Add a new reference</option>' +
                    '<option>Modify a reference</option>' +
                    '<option>Other</option>' +
                    '</select></div>');

            $("#suggestForm").attr("action", url);
        } else {
            $('#options').html('<div class="controls">' +
                    '<select name="type" class="form-control">' +
                    '<option>Remove reference</option>' +
                    '<option>Modify reference</option>' +
                    '<option>Other</option>' +
                    '</select></div>');

            $("#suggestForm").attr("action", url);
        }

        $('#suggestModal').modal('show');
    }
</script>

<div id="suggestModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="suggestModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Suggestions</h3>
				<p>For: <span id="suggestionsForName"></span></p>
            </div>
            <form accept-charset="UTF-8" action="{{ URL_PREPENDER }}/enquiry/{{ taxonomy.id }}/" class="formbody"
                  id="suggestForm" onsubmit="return validateSuggestionForm()" method="post">
				  <div class="modal-body" id="booking" style="height:350px;">
                        {% csrf_token %}
                        <div id="suggest_errors"></div>

						<div class="controls col-lg-8">
	                        <label for="type" class="control-label">What do you want to suggest?</label>
                        	<div id="options">
                            	{#Options will be inserted here#}
	                        </div>
						</div>

                        <br/>

                        <div id="suggest_message_group" class="control-group">
                            <div class="controls col-lg-8">
                                <label for="message" class="control-label">What do you want to say?</label>
                                <textarea name="message" maxlength="5000" rows=10 class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                <div class="modal-footer" id="button">
                    <input name="commit" type="submit" class="btn btn-warning" value="Submit Suggestion">
                </div>
            </form>
        </div>
    </div>
</div>
